*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: hsl(218, 23%, 16%);
}


button {
  background-color: hsl(150, 100%, 66%);
  border-color:hsl(150, 100%, 66%);
  border-radius: 100%;
  border-style: solid;

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
