@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 19%, 24%);

  border-radius: 1rem;
  color: white;
  min-height: 20rem;
  max-width: 25rem;
  padding: 1rem;
}

.header {
  color: hsl(150, 100%, 66%);
  font-size: 0.8rem;
}

.quote {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
  white-space: normal;
}

.quotecontainer {
  height: 8rem;
  overflow: scroll;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  text-align: center;
}

.divider {
  margin-bottom: 4rem;
  margin-top: 2rem;
  margin-left: 0rem;
  margin-right: 0rem;
  width: 90%;
  transform: scale(1.1)
}

.quotebutton {
  position: absolute;
  width: 4rem;
  height: 4rem;
  margin-top: 20rem;
}

.quotebutton:hover {
  box-shadow: 2px 2px 40px 10px hsl(150, 100%, 66%);
}

@media (min-width: 450px) {
  .container {
    max-width: 35rem;
  }
  .quote {
    font-size: 1.8rem;
  }

}


